@import url(../../node_modules/bootstrap/dist/css/bootstrap.css);
.home {
  background-position: 50% 0 !important;
  background-size: cover !important;
  height: 100vh;
  position: relative; }

.event-description {
  position: absolute;
  bottom: 0; }

.bordered {
  background: #fff;
  border: 2px solid blue;
  border-radius: 5px 10px 0px 5px; }
