.register {
  padding-top: 100px;
  padding-bottom: 100px;
  background-attachment: fixed;
  background-image: url('http://eazzy.me/html/imevent/assets/img/preview/background-img-slider.jpg');
  background-size: cover !important;
  background-position: 50% 0 !important;
  background-repeat: no-repeat;
}

.register .select {
  height: 60px !important;
  margin-top: 15px;
}
