.recent-bp {
  .date {
    margin-left: 5px;
  }
  .fa-comment {
    margin-right: 3px;
  }
  .post {
    margin-bottom: 10px;
  }
  .buttons {
    text-align: center;
    .btn {
      color: #fff;
      margin: auto;
    }
  }
}
