.sponsors {
  .owl-carousel div a {
    display: block;
    text-align: center;
    padding: 10px;
  }

  .owl-carousel div a img {
    display: inline-block;
    max-width: 100%;
  }

  .owl-carousel .owl-item img {
    width: auto;
  }

  .owl-theme .owl-nav {
    position: absolute;
    right: 0;
    top: -80px;
  }

  .btn-row {
    margin: 0 auto;
  }
}
